<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cap</title>
    <link rel="stylesheet" hred="/static/bootstrap.min.css">
    <script src="/static/js/jquery-2.2.4.min .js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/myXM/capitalize/" method="POST">
        <table>
            <tr>
                <td>需要大写的:</td>
                <td><input type="text" name="cap"></td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="submit" value="确定">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>