<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cap</title>
    <link rel="stylesheet" hred="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-2.2.4.min .js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>


    .top_left,.top_mid,.top_right,.botton_left,.botton_right{
            display:inline-block;
        }
    </style>
</head>
<body>
    <form action="/myXM/capitalize/" method="POST">
        <div class="main">
            <div class="top">
                <div class="top_left">
                    <td>需要首字母大写的:</td>
                </div>
                <div class="top_mid">
                    <input type="text"name="cap">
                </div>
                <div class="top_right">
                    <input type="submit" value="确定">
                </div>
            </div>
            <div class="bottom">
                <div class="botton_left">
                    <td>首字母大写成功的:</td>
                </div>
                <div class="botton_right">
                    <textarea name="cap_result" id="" cols="19" rows="1"></textarea>
                </div>
            </div>
    </form>
</body>
</html>