<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" hred="/static/bootstrap.min.css">
    <script src="/static/js/jquery-2.2.4.min .js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        div{
            border: 1px solid red;
        }
        .main{
            width:600px;
            margin:0 auto;
        }
        .top_left,.top_right,.mid_left,.mid_mid,.mid_right{
            display:inline-block;
        }
        img{
            width:250px;
            height:250px;
        }
    </style>
</head>
<body background="/static/favicon.ico">
    <div class="main">
        <form action="">
            <div class="top">
                <div class="top_left">
                    <input type="file">
                </div>
                <div class="top_right">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="mid">
                <div class="mid_left">
                    <img src="/static/img/58404730.jpg" alt="">

                </div>

                <div class="mid_mid" >
                    <button class="bin btn-info">生成</button>
                </div>

                <div class="mid_right">
                    <img src="/static/img/54824926.jpg" alt="">
                </div>
            </div>
        </form>
    </div>
</body>
</html>