<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" hred="/static/bootstrap.min.css">
    <script src="/static/js/jquery-2.2.4.min .js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/myXM/loginOn/" method="POST" >
        <table>
            <tr>
                <td>姓名:</td>
                <td><input type="text" name="user"></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input type="text" name="pwd"></td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="submit" value="提交">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>